body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#root{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #1B4242;
}

::-webkit-scrollbar-thumb {
    background: #5C8374;
}

::-webkit-scrollbar-thumb:hover {
    background: #9EC8B9;
}

/* 
#092635
#1B4242
#5C8374
#9EC8B9 */
